[user]
  name = Jason DeTiberus
  email = detiber@users.noreply.github.com
  #signingkey = "key::sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAICorRBFBDnN3B9GGxa7KCCyVQ9cO2L2zdOoA4jJJlZzfAAAABHNzaDo="
  signingKey = ~/.ssh/id_ed25519_sk

[init]
  defaultBranch = main

#[url "git@github.com:"]
#  insteadOf = https://github.com/

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[gpg]
  format = ssh
  #program = gpg2

[gpg "ssh"]
  program = ssh-keygen
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-gpgsshdefaultKeyCommand
  # defaultKeyCommand =
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-gpgsshallowedSignersFile
  # allowedSignersFile = 
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-gpgsshrevocationFile
  # revocationFilea =

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore_global
  #excludesfile = ~/.gitignore
  autocrlf = input
  safecrlf = true
  #sshCommand = ssh
  #askPass = <something>

[credential]
  #helper = cache --timeout=3600

[alias]
  pr = !"pr() { git fetch upstream pull/$1/head:pr-$1; git checkout pr-$1; }; pr"
  dmu = !"dmu() { git branch --merged remotes/upstream/master | grep -v master | grep -v '\\*' | xargs -t -n 1 -- git branch -d; }; dmu"
  rdmo = !"rdmo() { git branch -a --merged remotes/origin/master | grep -v master | grep remotes/origin/ | cut -d / -f 3 | xargs -t -n 1 -- git push --delete origin; }; rdmo"

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://wwwin-github.cisco.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://sqbu-github.cisco.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
